SETTINGS:
  - LOGGING:
    - LEVEL: INFO
  - API:
    - URL: 
    - PARAMS_DEFAULT:
      - usecaption: 
      - username: 
      - passhash: 
  - DATABASE:
    - USER: 
    - PASSWORD: 
    - DB_NAME: 
    - HOST: 
  - EMAIL:
    - FROM: 
    - TO:
      - 
    - SERVER: 
    - PORT: 
    - USERNAME: 
    - PASSWORD: 

